<h1>My Tasks</h1>

<ul class="index">
<% @tasks.each do |task| %>
 <li class="index"><%=link_to task.title, task_path(task)%></li>
<% end %>
</ul>
<div class="test">
 <h2><%=link_to "créer une nouvelle tache", new_task_path%></h2>
</div>
